# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Memory.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Git-Workspace\_SPGames\Memory\.idea\.idea.Memory\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
